/*Evita incomaptibilidade de caracteres*/
@charset "UTF-8";
/* Definir etilização padrão*/ 
*{
    padding: 0;
    margin: 0;
}
/*Conteúdo*/
.menu{
    width: 100%;
    height: 50px;
    background-color:#7A5116;
    font-family: Arial, Helvetica, sans-serif;
}
.menu ul{
    list-style: none;
    position: relative;
}
.menu ul li{
    width: 150px;
    float: left;
    
}
.menu a{    
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:#7A5116;
    color: white;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}
.menu a:hover{
    background-color:#7A603B;
    color: black;
}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px black;
}
.menu ul ul li a{
    background-color:#FAA52D;
}
label[for="bt_menu"]{
    padding: 5px;
    background-color:#7A5116;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
}
#bt_menu{
    display: none;
}
@media(max-width: 800px){
    label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked~ .menu{
        margin-left: 0;
    }
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
    }
    .menu ul li{
        width: 100%;
        float: none;
    }
    .menu ul ul{
        position:static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s;
    }
    .menu ul li:hover ul{
        height: auto;
        max-height: 250px;
    }
}
body{
    background-color:#FBC478;
}
.conteudo {
	min-height: 95vh;
}
.rodape{
	background-color: #7A5116;
	text-align: center;
	min-height: 5vh;
}
.form{
	display: flex;
	justify-content: center;
}