/*EVITA INCOMPATIBILIDADE DE CARACTERES*/
@charset "UTF-8";
/* DEFINIR ESTILIZAÇÃO PADRÃO*/ 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOGO */
a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
}

a:hover {
    opacity: 0.7;
    margin-top: 30px;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    justify-content: center;
}

/* NAVEGAÇÃO */
nav {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-top: 30px;
}

.nav-list li {
    color: #fff;
    letter-spacing: 3px;
    margin-left: 32px;
}

/*MENU NAVEGAÇÃO
.menu{
    width: 100%;
    height: 50px;
    background-color:black;
}
.menu ul{
    list-style: none;
    position: relative;
}
.menu ul li{
    width: 150px;
    float: left;   
}
.menu a{    
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color:black;
    color: white;
}
.menu ul ul{
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul{
    visibility: visible;
}
.menu a:hover{
    background-color:#7F7F7F;
    color: black;
}
.menu ul ul li{
    float: none;
    border-bottom: solid 1px black;
}
.menu ul ul li a{
    background-color:#58555A;
}*/

/* TÍTULO */
main h1 {
    text-align: center;
    font-size: 3rem;
    margin: 100px 20px 20px 20px;
}
/* CONTEÚDO */
body{
    background-color:#d8d8d8;
}
.conteudo {
	min-height: 100vh;
}
.item {
    background: #bdbdbd;
    border: 2px solid #333;
    padding: 10px;
}
h2 {
    text-align: center;
    padding: 5px;
}
/* imagem e videos das noticias*/
.imagemnot1{
    width: 250px;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.imagemnot2{
    width: 400px;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.videonot3{
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

/* POSIÇÃO GRID */
.container {
    margin: 10px 80px 100px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* ESPAÇO ENTRE AS GRIDS */
    grid-auto-rows:(50px,auto); /* TAMANHO DA GRID */
    grid-template-areas:
        'item-1 item-1 item-1'
        'item-2 item-2 item-4'
        'item-3 item-3 item-5'
        'item-3 item-3 item-6';
}
.item-1 {
    grid-area: item-1;
    font-size: 16px;
    justify-content: center;
}
.item-2 {
    grid-area: item-2;
    font-size: 16px;
    justify-content: center;
}
.item-3 {
    grid-area: item-3;
    font-size: 16px;
    justify-content: center;
}
.item-4 {
    grid-area: item-4;
    font-size: 16px;
    justify-content: center;
}
.item-5 {
    grid-area: item-5;
    font-size: 16px;
    justify-content: center;
}
.item-6 {
    grid-area: item-6;
    font-size: 16px;
    justify-content: center;
}
/* ABA SOBRE */
.container-sobre {
    margin: 10px 80px 100px 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; /* ESPAÇO ENTRE AS GRIDS */
    grid-auto-rows:(50px,auto); /* TAMANHO DA GRID */
    grid-template-areas:
        'item-1 item-2 item-3 item-4 item-5'
        'item-1 item-2 item-3 item-4 item-5';
}
.item-1 {
    grid-area: item-1;
    font-size: 16px;
    justify-content: center;
}
.item-2 {
    grid-area: item-2;
    font-size: 16px;
    justify-content: center;
}
.item-3 {
    grid-area: item-3;
    font-size: 16px;
    justify-content: center;
}
.item-4 {
    grid-area: item-4;
    font-size: 16px;
    justify-content: center;
}
.item-5 {
    grid-area: item-5;
    font-size: 16px;
    justify-content: center;
}
.item-6 {
    grid-area: item-6;
    font-size: 16px;
    justify-content: center;
}
/* RODAPÉ */
footer {
	height: 50px;
    margin-top: 50px;
}
footer p {
    text-align: center;
    margin-bottom: 100px;
    font-size: 15px;
    font-weight: bolder;
}
/* FORMULÁRIO */
.form{
	display: flex;
	justify-content: center;
}
#linkedin{
    width: 20%;
    height: 20%;
}